package v1


templ navDiv(n *Nav) {
   <div class="dropdown">
       <button class="dropbtn">FIX ME</button>
       <div class="dropdown-content">
           <a href="#">Link 4</a>
           <a href="#">Link 5</a>
           <a href="#">Link 6</a>
       </div>
   </div>
}