package v1

// import "fmt"

templ navDiv(n *Nav) {
    <div class="dropdown">
        <button class="dropbtn">{ n.Name }</button>
        <div class="dropdown-content">
            for key, _ := range n.Data {
                <a>{ key }</a>
            }
        </div>
    </div>
}