package v1


templ navDiv(n *Nav) {
   <div class="dropdown">
       <button class="dropbtn">{ n.Name }</button>
       <div class="dropdown-content">
           <a href="#">Link 4</a>
       </div>
   </div>
}